body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6b92b9;
    color: white;
    padding: 20px;
    text-align: center;
}

#authSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#authForms {
    display: flex;
    gap: 20px;
}

#authForms div {
    display: none;
}

#userDetails {
    margin-right: 20px;
}

#logoutButton {
    display: none;
}

section {
    margin: 20px;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #6b92b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5b82a1;
}

#chatBox {
    border: 1px solid #ddd;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    background-color: #fff;
}

#messageList {
    list-style-type: none;
    padding: 0;
}

#messageList li {
    background-color: #e4e4e4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
